In [22]:
import pandas as pd 
import pathlib 
import os 
import warnings
warnings.filterwarnings("ignore")

savedir = "./processed_methylation_regions"
os.system(f"mkdir -p {savedir}")

bed = {
    "Loyfer_et_al": "./Loyfer_atlas/Atlas.U250.l4.hg19.tsv",
    "TMD450": "panel.hg19.bed",
    "TSMA": "TSMA.xlsx"
}

##### preprocess Loyfer et al atlas 
df = pd.read_csv(bed["Loyfer_et_al"], sep="\t")
for target in df.target.unique():
    tmpdf = df[df["target"] == target].copy()
    
    tmpdf[["chr", "start", "end"]].to_csv(os.path.join(savedir, f"Loyfer_atlas_{target}.bed"), 
                                        sep="\t", 
                                        index=False, 
                                        header=False)

##### preprocess TSMA 
df = pd.read_excel(bed["TSMA"])
for group in df.Group.unique():
    tmpdf = df[df["Group"] == group].copy()
    tmpdf["chromosome"] = tmpdf["chromosome"].apply(lambda x: f"chr{x}")
    tmpdf[["chromosome", "coord.Start", "coord.End"]].to_csv(os.path.join(savedir, f"TSMA_{group}.bed"), 
                                        sep="\t", 
                                        index=False, 
                                        header=False)

In [19]:
tmpdf

               Region_name Group  chromosome  coord.Start  coord.End    symbol
0    1_182808141_182808238   WBC           1    182808141  182808238       NaN
1    1_184006169_184006262   WBC           1    184006169  184006262  COLGALT2
2    1_184006697_184006765   WBC           1    184006697  184006765  COLGALT2
3    1_185287129_185287208   WBC           1    185287129  185287208       NaN
4    1_208132492_208132592   WBC           1    208132492  208132592       NaN
..                     ...   ...         ...          ...        ...       ...
512    9_35675628_35675724   WBC           9     35675628   35675724  ARHGEF39
513    9_35690045_35690145   WBC           9     35690045   35690145      TPM2
514    9_36037264_36037358   WBC           9     36037264   36037358      RECK
515          9_73559_73647   WBC           9        73559      73647       NaN
516        9_976935_977037   WBC           9       976935     977037     DMRT3

[517 rows x 6 columns]